@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  /*add image as background cover fixed*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}


.text-choco {
  color: #1F130F;
}

.btn-green {
  @apply rounded-full p-2 px-5 text-white bg-secondary border border-4 border-accent hover:bg-accent hover:border-secondary;
}

.btn-choco{
  @apply rounded-full p-2 px-5 text-white bg-[#1F130F] border border-4 border-accent hover:bg-accent hover:border-secondary;
}